In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
# limited data IN
df = pd.read_csv("../outputs/geoc_inv_US_2011_2020.csv", sep=";")

In [9]:
# create locations table
locations = df[["lat", "lng"]].drop_duplicates()
locations["location_id"] = locations.index + 1

In [11]:
# join location IDs to df
df2 = pd.merge(
    df,
    locations,
    on=["lat", "lng"],
    how="left"
)

In [14]:
def edgelist_construction(df, key_cols):
    """create location-location edgelist"""
    
    # focus the dataframe
    df = df[key_cols].drop_duplicates()


    # create edgelist by join
    el = pd.merge(
        df,
        df,
        on="appln_id",
        how=""
    )

    return el
edgelist_construction(df2.iloc[:50], key_cols=["appln_id", "location_id"])

          appln_id  location_id
0        329081476            1
1        330220487            2
2        330220569            3
5        330225369            6
6        330225369            7
...            ...          ...
1334153  506349341         1874
1334154  506349906         1241
1334156  506350477          845
1334157  506416619         1437
1334158  506416619         2651

[1109282 rows x 2 columns]