In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
# limited data IN
df = pd.read_csv("../outputs/geoc_inv_US_2011_2020.csv", sep=";")

In [3]:
df

,appln_id,patent_office,filing_date,lat,lng,ctry_code,name_0,name_1,name_2,name_3,name_4,name_5,city,coord_source,source,type,date_column,year
0,329081476,WO,2011-01-07,42.2529,-73.7910,US,United States,New York,Columbia,NaN,NaN,NaN,Columbia,geolocalization,3,pct,2011-01-07,2011
1,330220487,EP,2011-01-04,32.8629,-96.9584,US,United States,Texas,Dallas,NaN,NaN,NaN,Dallas,geolocalization,1,priority,2011-01-04,2011
2,330220569,EP,2011-01-04,42.0521,-88.0135,US,United States,Illinois,Cook,NaN,NaN,NaN,Cook,geolocalization,1,priority,2011-01-04,2011
3,330220569,EP,2011-01-04,42.0521,-88.0135,US,United States,Illinois,Cook,NaN,NaN,NaN,Cook,geolocalization,1,priority,2011-01-04,2011
4,330220569,EP,2011-01-04,42.0521,-88.0135,US,United States,Illinois,Cook,NaN,NaN,NaN,Cook,geolocalization,1,priority,2011-01-04,2011
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1334154,506349906,US,2014-01-31,30.2672,-97.7431,US,United States,Texas,Travis,NaN,NaN,NaN,Travis,geolocalization,1,single,2014-01-31,2014
1334155,506349906,US,2014-01-31,30.2672,-97.7431,US,United States,Texas,Travis,NaN,NaN,NaN,Travis,geolocalization,1,single,2014-01-31,2014
1334156,506350477,US,2013-10-15,37.3688,-122.0360,US,United States,California,Santa Clara,NaN,NaN,NaN,Santa Clara,geolocalization,1,single,2013-10-15,2013
1334157,506416619,US,2014-09-14,37.7749,-122.4190,US,United States,California,San Francisco,NaN,NaN,NaN,San Francisco,geolocalization,1,single,2014-09-14,2014
1334158,506416619,US,2014-09-14,29.4241,-98.4936,US,United States,Texas,Bexar,NaN,NaN,NaN,Bexar,geolocalization,1,single,2014-09-14,2014